<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <title>The Coffee Company</title>
</head>

<body>
    <!-- ENCABEZADO -->
    <header class="nav-bar">
        <a href="../index.html">
            <img src="../img/logo_minimal_1.png" alt="logo">
        </a>
        <nav>
            <!-- (ul) Lista no ordenada -->
            <ul>
                <!-- (li) List Item -->
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./productos.html">PRODUCTOS</a></li>
                <li><a href="./servicios.html">SERVICIOS</a></li>
                <li><a href="./nosotros.html">NOSOTROS</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <!-- CONTENIDO PRINCIPAL -->
    <main class="contactmain">
        <form action="#" method="GET" class="contacto-main">
            <p >Nombre</p>
            <input type="text" placeholder="Nombre">
            <p>Apellido</p>
            <input type="text" placeholder="Apellido">
            <p>Email</p>
            <input type="email" placeholder="Email">
            <p>Dejanos tu consulta</p>
            <textarea placeholder="Dejanos tu consulta..." name="" id="" cols="20" rows="3"></textarea>
            <p><input type="checkbox" class="checkbox" checked> Desea recibir nuestra newsletter?</p>
            <br>
            <input type="reset" class="boton">
            <input type="submit" value="Enviar" class="boton">
        </form>
    </main>

    <!-- PIE DE PAGINA -->
    <footer class="footer-bar">
        <!-- (ol) Lista Ordenada-->
        <ol>
            <li><a href="https://www.facebook.com/..."><img src="../img/facebook-logo.png" alt=""></a></li>
            <li><a href="https://www.instagram.com/..."><img src="../img/instagram-logo.png" alt=""></a></li>
            <li><a href="https://www.twitter.com/..."><img src="../img/twitter-logo.png" alt=""></a></li>
        </ol>
    </footer>
</body>

</html>