<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <title>The Coffee Company</title>
</head>

<body>
    <div class="grilla-productos">
        <!-- ENCABEZADO -->
        <header class="nav-bar">
            <a href="../index.html">
                <img src="../img/logo_minimal_1.png" alt="logo">
            </a>
            <nav>
                <!-- (ul) Lista no ordenada -->
                <ul>
                    <!-- (li) List Item -->
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="./productos.html">PRODUCTOS</a></li>
                    <li><a href="./servicios.html">SERVICIOS</a></li>
                    <li><a href="./nosotros.html">NOSOTROS</a></li>
                    <li><a href="./contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </header>

        <!-- CONTENIDO PRINCIPAL -->
        <section class="titulo">
            <h1>Nuestros cafes</h1>
        </section>

        <section class="producto1">
            <h3>Arabica</h3>
            <img src="../img/cafe_1.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eius, quo, ut quasi earum doloribus
                reiciendis iusto iure illo culpa assumenda, pariatur numquam veritatis doloremque!</p>
        </section>

        <section class="producto2">
            <h3>Excelsa</h3>
            <img src="../img/cafe_2.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit at nemo aliquid
                accusantium, architecto iste neque fuga consequatur itaque rem in sunt saepe voluptates!</p>
        </section>

        <section class="producto3">
            <h3>Liberica</h3>
            <img src="../img/cafe_3.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quis amet eaque optio? Provident
                perferendis aperiam vel culpa omnis sed dolorum esse ex beatae sit!</p>
        </section>

        <section class="producto4">
            <h3>Robusta</h3>
            <img src="../img/cafe_4.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dolorem distinctio iure? Aliquam dolor
                dolorum temporibus amet blanditiis quaerat rerum debitis enim corporis, ex animi.</p>
        </section>

        <!-- PIE DE PAGINA -->
        <footer class="footer-bar">
            <!-- (ol) Lista Ordenada-->
            <ol>
                <li><a href="https://www.facebook.com/..."><img src="../img/facebook-logo.png" alt=""></a></li>
                <li><a href="https://www.instagram.com/..."><img src="../img/instagram-logo.png" alt=""></a></li>
                <li><a href="https://www.twitter.com/..."><img src="../img/twitter-logo.png" alt=""></a></li>
            </ol>
        </footer>
    </div>
</body>

</html>