<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <title>The Coffee Company</title>
</head>

<body>
    <!-- ENCABEZADO -->
    <header class="nav-bar">
        <a href="../index.html">
            <img src="../img/logo_minimal_1.png" alt="logo">
        </a>
        <nav>
            <!-- (ul) Lista no ordenada -->
            <ul>
                <!-- (li) List Item -->
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./productos.html">PRODUCTOS</a></li>
                <li><a href="./servicios.html">SERVICIOS</a></li>
                <li><a href="./nosotros.html">NOSOTROS</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <!-- CONTENIDO PRINCIPAL -->
    <main class="servicios-main">
        <h1>Servicio de delivery</h1>
        <p>Descripcion general del servicio</p>
        <table>
            <!-- Table Row -->
            <tr>
                <!-- Table Header Name -->
                <th>Opcion 1</th>
                <th>Opcion 2</th>
                <th>Opcion 3</th>
                <th>Opcion 4</th>
            </tr>
            <tr>
                <td>2 veces por mes</td>
                <td>4 veces por mes</td>
                <td>8 veces por mes</td>
                <td>¡Necesito más!</td>
            </tr>
            <tr>
                <td>Precio 1</td>
                <td>Precio 2</td>
                <td>Precio 3</td>
                <td>...</td>
            </tr>
            <tr>
                <td><button>Seleccionar</button></td>
                <td><button>Seleccionar</button></td>
                <td><button>Seleccionar</button></td>
                <td><button>Seleccionar</button></td>
            </tr>
        </table>
    </main>

    <!-- PIE DE PAGINA -->
    <footer class="footer-bar">
        <!-- (ol) Lista Ordenada-->
        <ol>
            <li><a href="https://www.facebook.com/..."><img src="../img/facebook-logo.png" alt=""></a></li>
            <li><a href="https://www.instagram.com/..."><img src="../img/instagram-logo.png" alt=""></a></li>
            <li><a href="https://www.twitter.com/..."><img src="../img/twitter-logo.png" alt=""></a></li>
        </ol>
    </footer>
</body>

</html>